version: "3.9"  # optional since v1.27.0
services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ${HOME}/postgres-data/:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 80:80
      - 443:443
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=password
    volumes:
      - ${HOME}/pgadmin-data:/var/lib/pgadmin
  mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
